@font-face {
    font-family: 'Myteri Script PERSONAL USE ONLY Regular PERSONAL USE ONLY';
    src: url("../Fonts/MyteriScript.otf");
}



.customText {
    -fx-font-family: 'Myteri Script PERSONAL USE ONLY Regular PERSONAL USE ONLY';
    -fx-text-fill: #451616;
}